
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    /*font-size: x-large;*/
}

body{
    background: #0A0919;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.Projects-container{
    background-color:#100F2E;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 2rem;

}

.Projects-text{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.cards{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    height: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    .cards{
        flex-direction:column;
        justify-content: flex-start;
    }

}

