*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background: #0A0919;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

.Projects-container{
    background-color:#100F2E;
    padding-top: 5vw;
}

.Projects-text{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.cards{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 40vh;
}

