

.card{
    border: 1px solid #FFB633;
    max-width: 20rem;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    text-align:left;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
}

.card .card-img{
    max-width: 40%;
    height: auto;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
}


.description{
    color: whitesmoke;
}