

.card{
    background-color: var(--accent);;
    max-width: 20rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align:left;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack elements vertically */
    border: 2px dotted var(--primary);
    transition-duration: 0.2s;
}

.card-link{
  color: white;
}

.card:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.card .card-img{
    max-height: 15rem;
    height: auto;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;

}


.description{
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}