.github{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gitHeatmap{
margin: 2rem;




}

.GithubText{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
