#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative; /* Added positioning relative to act as a reference for absolute positioning */
}
.portrait{
    position:absolute;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    border-color: var(--primary);
    border-style:double;
    float: left;
}

.introContent{
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 2rem; 
    font-weight: 100;
}

.work{
    font-size: 3rem;
    font-weight: 100;
}

.introName{
    color: var(--primary);
}

.introPara{
font-size: 1.5rem;
font-weight: 100;
}

@media only screen and (max-width: 992px) {
    .portrait{
        opacity: 50%; /* Better solution later */
        height: 30vh;
        width: 30vh;
        margin-right: 5vh;
    }
    .introContent{
        height: 50vh;
    }
    #intro{
        height: 50vh;
    }

}