.navbar {
    height: 5rem;
    width: 100vW;
    max-width: 200rem;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #100F2E;
}

.S{
    font-size: 4rem;
    font-weight: 200;
    color: #FFB635;
    cursor: default;
    max-height: 4rem;
    align-content: center;
}

.desktopMenu {
    display: flex;
    align-items: center;
}

.desktopMenuListItem{
    margin: 0 1.75rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: #FFB633;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #FFB633;
    
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;   
}

.desktopMenuBtn {
    background: #FFB633;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius:2rem ;
}

@media screen and (max-width: 900px) {
    .desktopMenu {
        display: none;
    }
    
    .mobileMenu {
        display: block;
    }
}