.tech-stack {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary)
}

.large-header {
    margin-bottom: 1.5rem;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    
}

.tech-icon {
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s;
}

.tech-icon:hover {
    transform: scale(1.2);
}