.Projects-container{
    background-color: var(--secondary);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.Projects-text{
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 3rem;
    max-width: 680px;
    margin: 0 auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    .cards{
        padding: 1.25rem 1.5rem;
    }
    html{
        font-size: 0.75rem
    }

}