.Projects-container{
    background-color: var(--secondary);
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 2rem;

}

.Projects-text{
    text-align: center;
}

.cards{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 2vw;
    height: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    .cards{
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
    }
    html{
        font-size: 0.75rem
    }

}